<h3 class="title">
  <%= @page.title %>
</h3>
<p class="page-body">
  <%= markdown(@page.body) %>
</p>
<div id="wikiInfo"></div>

<div class="row">
  <div class="large-6 columns">
<div class="meta-info">
  <a href="#" id="infoToggle">+ Page Info</a>
  <ul class="no-bullet">
    <li class="author">
      <strong>Author: </strong>
      <%= @page.user.fname %> <%= @page.user.lname %>
    </li>
    <li class="revision">
      <strong>Revision:</strong>
      <%= @page.revision %>
    </li>
    <% unless @page.updated_at.nil? %>
      <li class="last-edit">
        <strong>Last Edited: </strong>
          <%= @page.updated_at.strftime('%m/%d/%Y')  %>
      </li>
    <% end %>
    <li class="created">
      <strong>Created: </strong>
      <% unless @page.created_at.nil? %>
        <%= @page.created_at.strftime('%m/%d/%Y')  %>
      <% end %>
    </li>
  </ul>
</div>
</div>
<div class="large-6 columns">
  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'Back', pages_path %>
</div>
</div>
<hr>
<h3 class="changes">Changes</h3>
<div class="row" id="diffs">
    <div id="latest_text" class="changed large-4 columns"></div>
    <div id="previous_text" class="original large-4 columns"></div>
    <div id="changes" class="diff large-4 columns"></div>
</div>
<span id="page_id" class="visuallyhidden"><%= @page.id %></span>
<% content_for :js_include do %>
  <%= javascript_include_tag 'pages' %>
<% end %>